/*html { margin-left: calc(100vw - 100%); }*/

a:focus {
  color: black;
  text-decoration: none;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: -0px;
}

#scroll_button:focus {
  color: black;
  text-decoration: none;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: -0px;
}
#scroll_button:active {
  color: black;
  text-decoration: none;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: -0px;
}

#scroll_button:hover {
  background-color: #8266a8;
  border-color: white;
  color: white;
  transition: .3s ease;
}

#override .navbar-default {
    background-color: white;
    border-color: #8266a8;
    border: 0px;
    margin-bottom: 0px;
}

nav {
  transition: .5s ease;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
  position: fixed;
    width: 100%;
    opacity: 0.6;
    transition: .3s ease;
}

.navbar-fixed:hover {
  opacity: 1;
}

#carousel_row {
  margin-bottom: 60px;
}

.carousel-inner {
  min-height: 100%;
      min-width: 1024px;
      width: 100%;
      max-height: 90vh;
}

.center-cropped {
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 100px;
  width: 100px;
}

#scroll_button {
  margin-bottom: 20px;
}

#override .navbar-brand:hover {
  color: #8266a8;
}

#override .navbar-default .navbar-nav > li > a:hover {
  color: #8266a8;
}

#main-container {
  padding: 0;
}

.mobile_front_row, .mobile_gallery_img {
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

.mobile_front_col {
  padding-left: 0px;
  padding-right: 5px;
}
.mobile_second_col {
  padding-left: 5px;
  padding-right: 0px;
}

.text-block {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    background-color: white;
    opacity: 0.6;
    color: black;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.linkNew {
  color: black;
}

.footer a:hover {
  text-decoration: none;
}


.linkNew:hover {
  color: black;
}

.wide_col {
  padding: 5px;
}

.mobile_gallery_img:hover {
  opacity: 0.7;
}

.mobile_gallery_img {
  transition: .5s ease;
}
